In [1]:
from datascience import *
import numpy as np

In [2]:
# access the csv file
picks_data = Table.read_table("second_rounders_2005-14.csv")

In [3]:
picks_data

Unnamed: 0 | Draft Year | Pk   | Tm   | Player           | College                    | Yrs  | G    | MP    | PTS   | TRB  | AST  | FG_Perc | 3P_Perc | FT_Perc | MP.1 | PTS_per_G | TRB_per_G | AST_per_G | WS_per_G | WS_per_48 | BPM  | VORP
0          | 2005       | 31   | ATL  | Salim Stoudamire | University of Arizona      | 3    | 157  | 2672  | 1260  | 214  | 164  | 0.407   | 0.366   | 0.882   | 17   | 8         | 1.4       | 1         | 2.2      | 0.04      | -5.1 | -2.1
1          | 2005       | 32   | LAC  | Daniel Ewing     | Duke University            | 2    | 127  | 1683  | 431   | 158  | 174  | 0.389   | 0.295   | 0.78    | 13.3 | 3.4       | 1.2       | 1.4       | 0.8      | 0.024     | -3.7 | -0.7
2          | 2005       | 33   | NOH  | Brandon Bass     | Louisiana State University | 12   | 758  | 16410 | 6575  | 3448 | 608  | 0.499   | 0.207   | 0.832   | 21.6 | 8.7       | 4.5       | 0.8       | 42.8     | 0.125     | -1.1 | 3.7
3          | 2005       | 34   | UTA  | C.J. Miles       | 0                          | 14   | 838  | 17121 | 8044  | 1999 | 902  | 0.412   | 0.359   | 0.81    | 20.4 | 9.6       | 2.4       | 1.1       | 30       | 0.084     | -1   | 4.3
4          | 2005       | 35   | POR  | Ricky Sanchez    | 0                          | 0    | 0    | 0     | 0     | 0    | 0    | 0       | 0       | 0       | 0    | 0         | 0         | 0         | 0        | 0         | 0    | 0
5          | 2005       | 36   | MIL  | Ersan Ilyasova   | 0                          | 11   | 745  | 17823 | 7885  | 4330 | 855  | 0.443   | 0.365   | 0.773   | 23.9 | 10.6      | 5.8       | 1.1       | 44.9     | 0.121     | -0.2 | 8.3
6          | 2005       | 37   | LAL  | Ronny Turiaf     | Gonzaga University         | 10   | 473  | 8020  | 2209  | 1757 | 618  | 0.533   | 0       | 0.636   | 17   | 4.7       | 3.7       | 1.3       | 19.2     | 0.115     | 1    | 6
7          | 2005       | 38   | ORL  | Travis Diener    | Marquette University       | 5    | 179  | 2660  | 854   | 243  | 432  | 0.388   | 0.353   | 0.847   | 14.9 | 4.8       | 1.4       | 2.4       | 5.6      | 0.102     | -1.8 | 0.1
8          | 2005       | 39   | LAL  | Von Wafer        | Florida State University   | 6    | 200  | 2475  | 1054  | 234  | 146  | 0.42    | 0.325   | 0.751   | 12.4 | 5.3       | 1.2       | 0.7       | 3.3      | 0.064     | -3.2 | -0.7
9          | 2005       | 40   | GSW  | Monta Ellis      | 0                          | 12   | 833  | 29011 | 14858 | 2874 | 3856 | 0.451   | 0.314   | 0.772   | 34.8 | 17.8      | 3.5       | 4.6       | 41.9     | 0.069     | -0.3 | 12.3
... (290 rows omitted)

In [4]:
# General analysis
avg_yrs = round(np.mean(picks_data.column('Yrs')))
avg_games = round(np.mean(picks_data.column('G')))
avg_pts = round(np.mean(picks_data.column('PTS_per_G')), 1)
avg_vorp = round(np.mean(picks_data.column('VORP')), 1)
print("The average second rounder will have a " + str(avg_yrs) + " year career.")
print("The average second rounder will play " + str(avg_games) + " games in their career.")
print("The average second rounder score " + str(avg_pts) + " points per game in their career.")
print("The average second rounder brings " + str(avg_vorp) + " value over replacement player (VORP) throughout their career.")

The average second rounder will have a 3.0 year career.
The average second rounder will play 152.0 games in their career.
The average second rounder score 3.6 points per game in their career.
The average second rounder brings 1.3 value over replacement player (VORP) throughout their career.

In [9]:
# average games per draft year
for i in range(2005, 2015):
    year_data = picks_data.where("Draft Year", are.equal_to(i))
    draftyr_yrs = round(np.mean(year_data.column('G')))
    print(str(i) + " draftees played an average of " + str(draftyr_yrs) + " games in their career.")

2005 draftees played an average of 285.0 games in their career.
2006 draftees played an average of 150.0 games in their career.
2007 draftees played an average of 135.0 games in their career.
2008 draftees played an average of 163.0 games in their career.
2009 draftees played an average of 211.0 games in their career.
2010 draftees played an average of 70.0 games in their career.
2011 draftees played an average of 150.0 games in their career.
2012 draftees played an average of 162.0 games in their career.
2013 draftees played an average of 89.0 games in their career.
2014 draftees played an average of 102.0 games in their career.