In [15]:
# import datascience to access Table to read csv and analyze table
from datascience import *

In [16]:
# access the csv file
picks_data = Table.read_table("second_rounders_2004-14.csv")

In [17]:
picks_data

Unnamed: 0 | Draft Year | Pk   | Tm   | Player           | College                       | Yrs  | G    | MP     | PTS   | TRB   | AST   | FG_Perc | 3P_Perc | FT_Perc | MP.1 | PTS_per_G | TRB_per_G | AST_per_G | WS_per_G | WS_per_48 | BPM   | VORP
0          | 2,004      | 31   | CHI  | Jackson Vroman   | Iowa State University         | 2    | 87   | 1,111  | 285   | 261   | 51    | 0.408   | 0       | 0.58    | 12.8 | 3.3       | 3         | 0.6       | 0        | 0.001     | -3.9  | -0.5
1          | 2,004      | 32   | WAS  | Peter John Ramos | 0                             | 1    | 6    | 20     | 11    | 4     | 0     | 0.5     | 0       | 0.5     | 3.3  | 1.8       | 0.7       | 0         | 0        | -0.108    | -18.3 | -0.1
2          | 2,004      | 33   | LAC  | Lionel Chalmers  | Xavier University             | 1    | 36   | 433    | 111   | 31    | 51    | 0.336   | 0.245   | 0.625   | 12   | 3.1       | 0.9       | 1.4       | -0.2     | -0.025    | -6.3  | -0.5
3          | 2,004      | 34   | ATL  | Donta Smith      | Southeastern Illinois College | 2    | 61   | 560    | 165   | 66    | 48    | 0.421   | 0.308   | 0.65    | 9.2  | 2.7       | 1.1       | 0.8       | 0.5      | 0.043     | -3.2  | -0.2
4          | 2,004      | 35   | SEA  | Andre Emmett     | Texas Tech University         | 2    | 14   | 73     | 20    | 8     | 1     | 0.462   | 0       | 0.615   | 5.2  | 1.4       | 0.6       | 0.1       | 0.1      | 0.04      | -6.8  | -0.1
5          | 2,004      | 36   | ORL  | Antonio Burks    | University of Memphis         | 2    | 81   | 789    | 186   | 49    | 104   | 0.387   | 0.235   | 0.571   | 9.7  | 2.3       | 0.6       | 1.3       | 0.1      | 0.004     | -6.6  | -0.9
6          | 2,004      | 37   | ATL  | Royal Ivey       | University of Texas at Austin | 10   | 492  | 6,162  | 1,641 | 557   | 501   | 0.406   | 0.361   | 0.706   | 12.5 | 3.3       | 1.1       | 1         | 4.5      | 0.035     | -3.8  | -2.8
7          | 2,004      | 38   | CHI  | Chris Duhon      | Duke University               | 9    | 606  | 15,526 | 3,946 | 1,364 | 2,690 | 0.393   | 0.363   | 0.784   | 25.6 | 6.5       | 2.3       | 4.4       | 25       | 0.077     | -1.5  | 2
8          | 2,004      | 39   | TOR  | Albert Miralles  | 0                             | 0    | 0    | 0      | 0     | 0     | 0     | 0       | 0       | 0       | 0    | 0         | 0         | 0         | 0        | 0         | 0     | 0
9          | 2,004      | 40   | BOS  | Justin Reed      | University of Mississippi     | 3    | 136  | 1,436  | 472   | 186   | 68    | 0.404   | 0       | 0.752   | 10.6 | 3.5       | 1.4       | 0.5       | 0.5      | 0.016     | -5.9  | -1.4
... (319 rows omitted)

In [14]:
picks_data.num_rows

329